# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: tests

on: [pull_request, push]

env:
  FORCE_COLOR: 1

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node: ['lts/*']

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
      with:
        node-version: ${{ matrix.node }}
    - run: npm i
    - run: npm test --color=always
      env:
        SOCKET_API_KEY: ${{ secrets.SOCKET_API_KEY }}
