# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: tests

on: [pull_request, push]

env:
  FORCE_COLOR: 1

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node: ['lts/*']

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
      with:
        node-version: ${{ matrix.node }}
    - run: npm i
    - run: npm test --color=always
      env:
        SOCKET_API_KEY: ${{ secrets.SOCKET_API_KEY }}
